##################################
#
# :: GIT GLOBAL SETTINGS ::
#
# References:
#   - https://github.com/dougblack/dotfiles/blob/master/.gitconfig
#   - https://gist.github.com/pksunkara/988716
#   - https://www.atlassian.com/git/tutorials/setting-up-a-repository/git-config
#   - https://nathanhoad.net/how-to-colours-in-git/
#
##################################

[user]
  name = Davi Marcondes Moreira
  email = davi.marcondes.moreira@gmail.com
  username = devdrops
  signingkey = 564848AD8F25F213

[core]
  editor = vim
  whitespace = trailing-space
  excludesfile = ~/.gitignore_global

[diff]
  tool = vimdiff

[alias]
  gc = commit -S 
  group = shortlog -s -n
  csi = log --follow -- 

[commit]
  gpgsign = true

[color]
  ui = auto

[color "branch"]
  current = yellow bold
  local = green bold dim
  remote = cyan bold dim

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse

[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red bold

