##################################
#
# :: GIT GLOBAL SETTINGS ::
#
# References:
#   - https://github.com/dougblack/dotfiles/blob/master/.gitconfig
#   - https://gist.github.com/pksunkara/988716
#   - https://www.atlassian.com/git/tutorials/setting-up-a-repository/git-config
#   - https://nathanhoad.net/how-to-colours-in-git/
#   - https://medium.com/easyread/today-i-learned-fix-go-get-private-repository-return-error-terminal-prompts-disabled-8c5549d89045
#   - https://stackoverflow.com/a/15128894
#   - https://stackoverflow.com/a/34065448
#   - https://git-scm.com/docs/git-config
#
##################################

[user]
  name = Davi Marcondes Moreira
  email = davi.marcondes.moreira@gmail.com
  username = devdrops
  signingkey = 564848AD8F25F213

[core]
  editor = vim
  whitespace = trailing-space
  excludesfile = ~/.gitignore_global
  hooksPath = ~/.githooks_global

[init]
  defaultBranch = main

[url "git@github.com:"]
  insteadOf = https://github.com/

[fetch]
  recurseSubmodules = yes
  prune = true
  output = full
  writeCommitGraph = true

[pull]
  rebase = false

[diff]
  tool = nvimdiff

[difftool]
  prompt = false
  trustExitCode = true

[merge]
  tool = nvimdiff2
  conflictstyle = diff3
  prompt = false
  branchdesc = true
  log = true
  verbosity = 5

; Afeta git log
[format]
  pretty = fuller

[log]
  date = format:%A, %d de %B de %Y às %H:%M:%S
  decorate = full

[alias]
  gc = commit -S
  group = shortlog -s -n
  csi = log --follow --
  logs = "log --all --decorate=short --show-pulls --date=format-local:'%Y-%m-%d %H:%M:%S' --pretty=format:'%C(green bold)> %Creset%C(cyan)%H%Creset %C(black bold)%cd%Creset %C(auto)%d%Creset%n%C(blue italic)  %cN (%cE)%Creset %C(black bold)[sign: %G?]%Creset%n%C(auto)  %+B%n'"
  tags = "tag --sort=-creatordate --format=\"%(color:green bold)> %(color:reset)%(color:cyan)%(refname:short) %(color:black bold)%(if)%(creatordate)%(then)%(creatordate:format:%Y-%m-%d %H:%M:%S)%(else)(data desconhecida)%(end)\n  %(color:blue italic)%(if)%(authorname)%(then)%(authorname) (%(authoremail))%(else)(autoria desconhecida)%(end) %(color:reset)%(color:black bold)[%(if)%(contents:signature)%(then)%(contents:signature)%(else)sign: N%(end)]\n%(color:reset)\n  %(color:white)%(contents:subject)\n\n\""

[commit]
  gpgsign = true
  cleanup = default
  template = ~/.gitmessage_global
  status = false

[color]
  ui = auto

; Cores na exibição de branches
[color "branch"]
  current = yellow bold
  local = green bold dim
  remote = cyan bold dim

; Cores na exibição de diff
[color "diff"]
  meta = 60 italic
  frag = 60 italic
  func = 245 italic
  colorMoved = plain
  context = 245 normal
  contextDimmed = 202
  contextBold = 220
  commit = 210 bold
  whitespace = 196 reverse
  old = 9 bold
  oldBold = 9 italic
  oldMoved = 9 italic
  oldDimmed = 9 italic
  oldMovedDimmed = 9 italic
  oldMovedAlternative = 9 italic
  oldMovedAlternativeDimmed = 9 italic
  new = 70 bold
  newBold = 70 italic
  newMoved = 70 italic
  newDimmed = 70 italic
  newMovedDimmed = 70 italic
  newMovedAlternative = 70 italic
  newMovedAlternativeDimmed = 70 italic

; Cores na exibição de status
[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red bold

